Perulangan_For_dan_While

In [10]:
# Program untuk menghitung jumlah semua angka dalam list
L1 = [2, 4, 5, 7, 9]
jumlah = 0

# iterasi didalam list
for i in L1:
  jumlah = jumlah + i

print(jumlah)

27

The range() function

In [2]:
# Program untuk melakukan iterasi didalam list melalui indeks
minuman = ["teh", "boba", "kopi", "susu"]
p = len(minuman)

# iterasi didalam list melalui indeks
for i in range(p):
  print(minuman[i])

teh
boba
kopi
susu

for loop with else

In [3]:
# Contoh for Loop manggunakan else
for i in range(p):
  print(minuman[i])
else:
  print("Elemen sudah habis")

teh
boba
kopi
susu
Elemen sudah habis

Latihan 1

Diberikan list_tagihan. Diminta untuk menghitung jumlah seluruh tagihan!

list_tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]

In [4]:
# For Loop
tagihan  = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
total_tagihan = 0

 # iterasi didalam list
for i in tagihan:
   total_tagihan = total_tagihan + i

print(total_tagihan)

550000

In [11]:
# Program untuk menjumlahkan semua
# bilangan asli hingga suku ke-n
# jum = 1+2+3+...+n

n = 10
jumlah = 0
i = 1

while i <=n:
  jumlah = jumlah + i
  i = i + 1

print(jumlah)

55

While loop with else

In [12]:
jum = 0
i = 1
while i <= n:
  jum = jum + i
  i = i + 1
else:
  print(jum)

55

Latihan 2

Diberikan list tagihan, hitunglah total_tagihan menggunakan while loop.

tagihan = [50000, 75000, 125000, 300000, 200000]

In [13]:
# while loop

tagihan = [50000, 75000, 125000, 300000, 200000]

i = 0
jumlah_tagihan = len(tagihan)
total_tagihan  = 0

while i < jumlah_tagihan:
  total_tagihan = total_tagihan + tagihan[i]
  i = i + 1

print(total_tagihan)

750000

Percabangan/Struktur Pemilihan

In [14]:
# Jika angka adalah bilangan positif maka print "adalah bilangan positif"

angka = 3
if angka > 0:
  print(angka,"adalah bilangan positif.")
print("pernyataan ini selalu ditampilkan.")

angka = -1
if angka > 0:
  print(angka,"adalah bilangan positif")
print("pernyataan ini selalu ditampilkan")

3 adalah bilangan positif.
pernyataan ini selalu ditampilkan.
pernyataan ini selalu ditampilkan

Example: Python IF ELSE Statemen

In [16]:
# Program disusun untuk mengecek apakah program tersebut kurang dari 0 atau tidak
# dan menampilkan tulisan yang sesuai

angka = 3

if angka >= 0:
  print("Bilangan lebih dari atau sama dengan 0")
else:
  print("Bilangan kurang dari 0")

Bilangan lebih dari atau sama dengan 0

In [17]:
# Program disusun untuk mengecek apakah dua buah angka sama atau tidak
 # dan menampilkan tulisan yang sesuai

a = 5
b = 5

if a==b:
  print("a dan b bernilai sama")
else:
  print("a dan b bernilai berbeda")
  print("Belajar If Else")

a dan b bernilai sama

In [1]:
# Program disusun untuk mengecek apakah perbandingan dua buah angka
# dan menampilkan tulisan yang sesuai

# membaca dua angka
bil1 = int(input("Masukkan bilangan pertama:"))
bil2 = int(input("Masukkan bilangan kedua:"))

# memilih bilangan yang lebih besar
if bil1 > bil2:
  bil_lebih_besar = bil1
else:
  bil_lebih_besar = bil2

# menampilkan hasil
print("Bilangan yang lebih besar adalah:",bil_lebih_besar)

Masukkan bilangan pertama:3
Masukkan bilangan kedua:5
Bilangan yang lebih besar adalah: 5

Example: Python IF ELIF ELSE Statement

In [4]:
# Program disusun untuk mengecek apakah angka merupakan bilangan positif, negatif atau nol
# dan menampilkan tulisan yang sesuai

angka = 3.4

if angka > 0:
  print("Bilangan Positif")
elif num == 0:
  print("Nol")
else:
  print("Bilangan Negatif")

Bilangan Positif

In [6]:
# Statement if
x = 4
if x % 2 == 0:    #jika x dibagi 2 sisanya samadengan 0
  print("x habis dibagi dua")

# Statement if...elif...else
x = 7
if x % 2 == 0: #jika x dibagi 2 sisanya samadengan 0
  print("x habis dibagi dua")
elif x % 3 == 0: #jika x dibagi 3 sisanya samadengan 0
  print("x habis dibagi tiga")
elif x % 5 == 0: #jika x dibagi 5 sisanya samadengan 0
  print("x habis dibagi lima")
else:
  print("x tidak habis dibagi dua, tiga ataupun lima")

x habis dibagi dua
x tidak habis dibagi dua, tiga ataupun lima

In [7]:
# Program disusun untuk mengecek apakah angka merupakan bilangn positif, negatif atau nol
# dan menampilkan tulisan yang sesuai

angka = float(input("Masukkan angka:"))
if angka >= 0:
  if angka == 0:
    print("Nol")
  else:
    print("Bilangan Positif")
else:
  print("Bilangan Negatif")

Masukkan angka:4
Bilangan Positif

Latihan

Buatlah sebuah fungsi "Mahal_Diskon" dengan ketentuan:
*   Input berupa harga produk dengan tipe data numerik tunggal
*   Kategori input adalah "Murah" dan "Mahal", kemudian diskon ada 3 kategori "10%","20%",dan "40%"
*   Output pertama sebuah teks/string yang menyatakan "Mahal" atau "Murah"dan keterangan "Kamu dapat DIskon..."
*   Output keduua adalah harga yang perlu dibayarkan

In [9]:
Harga = float(input("harga:"))

if Harga <= 100000:
  print("Murah")
else:
  print("Mahal")

print("kamu mendapat diskon:")

harga:99000
Murah
kamu mendapat diskon:

In [10]:
harga = float(input("harga:"))

if harga < 500000:
  print("Kamu mendapat diskon 10%")
  print("Kamu hanya perlu membayar:",harga*10/100)
elif harga < 800000:
  print("Kamu mendapat diskon 20%")
  print("Kamu hanya perlu membayar:",harga*20/100)
elif harga > 800000:
  print("Kamu mendapat diskon 30%")
  print("Kamu hanya perlu membayar:",harga*30/100)
else:
  print("Kamu tidak mendapat diskon")

harga:100000
Kamu mendapat diskon 10%
Kamu hanya perlu membayar: 10000.0